.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(163, 158, 158, 0.5); 
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; 
}
li{
    margin-bottom: 4px;
}
.popup-content {
    color: blue;
    text-align: left;
    position: relative;
    top: 40px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    max-height: 80%;
    word-wrap: break-word;
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: auto; 
}
.close-button {
    color: blue;
    position: absolute;
    top: 10px;
    right: 20px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}