<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Message</title>
    <style>
        body {
            font-family: "IBM Plex Sans", sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .error-message {
            font-size: 32px;
            color: red;
        }
    </style>
</head>
<body>
    <div class="error-message">{{ error_message }}</div>
</body>
</html>
